@mixin random-bgr() {
  background: rgb(random(255), random(255), random(255));
}

.swiper-container {
  display: block;
  height: 20rem;
  width: 100% !important;
  margin-bottom: 20px;

  @media screen and (max-width: 32rem) {
    height: 10rem !important;
  }
} 

.slide_item {
  display: flex;
  align-items: center;
  justify-content: center;

  &:nth-child(1) {
    background-image: url("../../lib/background.jpeg");
    background-repeat : no-repeat;
    background-size: cover;
  }

  @for $i from 2 to 4 {
    &:nth-child(#{$i}) {
      @include random-bgr();
    }
  }
}

.main-problem-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .main-problem-item{
    margin: 20px;
    width: 250px;
    height: 250px;
  }
}