@mixin random-bgr() {
  background: rgb(random(255), random(255), random(255));
}

.swiper-container {
  display: block;
  height: 20rem;
  width: 100% !important;
  margin-bottom: 20px;

  @media screen and (max-width: 32rem) {
    height: 10rem !important;
  }
}

.slide_item {
  display: flex;
  align-items: center;
  justify-content: center;

  @for $i from 0 to 4 {
    &:nth-child(#{$i}) {
      @include random-bgr();
    }
  }
}

.main-problem-container{
  .main-problem-item{
    width: 300px;
    height: 300px;
  }
}