@import '../../lib/mixin.scss';

.table{
  margin: 30px 0px;
  width: 70%;
  border-top: 1px solid black;
  
  .table-row{
    display: flex;
    flex-direction: row;
    height: 50px;
    border-bottom: 1px solid black;
    .table-cell{
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .table-title{
      flex: 3;
    }
  }
}